<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="blogs content">
      <h2>All Blogs</h2>
      <% if(blogs.length) { %> <% blogs.forEach(blog => {%>
      <h2><%= blog.title %></h2>
      <p><%= blog.blogText %></p>
      <% })%> <% } else {%>
      <p>No blogs available yet...</p>
      <% }%>

      <p></p>
      <!--This is where we'll add the blogs using a "forEach" -statement-->
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
