<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="contentContainer">
      <%- include("./partials/nav.ejs") %>
      <div class="blogs content">
        <h2>All Blogs</h2>
        <div class="home">
          <div class="blogList">
            <div class="blogPreview">
              <% if(blogs.length) { %> <% blogs.forEach(blog => {%>
              <h2><%= blog.title %></h2>
              <p><%= blog.blogText.slice(0, 100) %></p>
              <% })%> <% } else {%>
              <p>No blogs available yet...</p>
              <% }%>
            </div>
          </div>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
