<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="contentContainer">
      <%- include("./partials/nav.ejs") %>
      <div class="blogs content">
        <div class="home">
          <div class="blogList">
            <div class="blogPreview">
              <% if(blogs.length) { %> <% blogs.forEach(blog => {%>
              <div class="selectedBlog">
                <a href="/blogs/<%= blog._id %>">
                  <h2><%= blog.title %></h2>
                  <h6><%= blog.author %></h6>
                  <p><%= `"${blog.blogText.slice(0, 80)}..."` %></p>
                </a>
              </div>
              <% })%> <% } else {%>
              <p>No blogs available yet...</p>
              <% }%>
            </div>
          </div>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
